body{
    background-color: black;
}

.content-1 h3{
    color: white;
}

.content-1{
    display: flex;
    justify-content: space-between;
}

.content-1 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.content-1 ul li {
    margin-right: 10px; 
}

.content-1 ul li:last-child {
    margin-right: 0; /
}

.content-1 ul li a {
    text-decoration: none;
    color: white;
}

#left h1,p,h2{
    color: white;
    margin: 30px;
    padding: 10px;
}

#left{
    width: 400px;
    margin: 30px;
    margin-top: 60px;
    
}

#left a{
    text-decoration: underline;
    color: azure;

}


#right img{
   width: 300px;
   background-color: white;
   height: 800px;
}

#right{
    position: absolute;
    left:850px;
    bottom: 370px;
}

#top{
    display: flex;
    justify-content: space-around;
}

#top h1{
    color: white;
}

.content-3 h3{
    color: white;
    display: flex;
    justify-content: start;
}

#bottom{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#bottom h1{
    color: white;
}

#projects{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 50px;
}

#projects div img,h3,h4{
    color: white;
}

.content-4{
    margin-top: 50px;
}

.content-4 H2{
    color: white;
}


#projects div h4{
    color: brown;
    text-decoration:underline;
}

#yes div{
    border: 1px solid white;
    border-radius: 150px;
    margin: 35px;
  
}

#yes div h2{
    position: relative;
    left: 220px;
}

#yes div h3{
    color: brown;
    position: relative;
    float: right;
    bottom: 80px;
    right: 150px
}

.content-6 h2{
    text-align: center;
    color: white;
}

#para h5{
    width: 300px;
    color: white;
}

#para{
    text-align: center;
    display: grid;
    justify-content: center;
}

#formm{
    display: flex;
    flex-direction: column;
}

#formm input{
    margin: 20px;
    background: transparent;
}

#formm input:focus{
    border: none;
    outline: none;
    color: white;
    background-color:grey;
}

#footer h2{
    color:brown;
    text-align: right;
    text-decoration: underline;
}